/*
    Created on : 28 Dec, 2015, 2:54:24 PM
    Author     : Selva!
*/

body.background
{
    background: url("Image3.jpg") no-repeat;
    background-size: cover;
}
#menubar
{
    text-align: center;
}


#header
{

    color: black;
    height: 90px;
}

#logo
{
    text-align: center;
}

#logo p
{
    font: bold 24px "arial nararow", arial, sans-serif;
}

#logo p.p1
{
    font: bold 10px "arial nararow", arial, sans-serif;
}

ul
{
    list-style-type:none;
    padding-top:80px;

}
li
{
    display:inline;
}

a:link,a:visited
{
    font-weight:bold;
    color:black;
    background-color:#8c8c8c;
    text-align:center;
    padding:6px;
    font-family: arial;
    text-transform:uppercase;
}

a:hover,a:active
{
    background-color:#cccccc;
}
#bottom
{
    height: 20px;
    margin: 0 auto;
    text-align: left;
    width: 900px;
    margin-top: 60px;
    text-align:center;
    font-family: arial;
    font-weight: bold;
    font-size: 10px;

}


#centerbar
{
    height: 400px;
    margin: 0 auto;
    width: 800px;
    font-family: arial;
    font-size: 15px;
    text-align: center;
    color: black;
    font-weight: bold;

}
#centerbar table
{
    text-align: left;

    margin-left: 250px;
}



